<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cadastro.css') }}">
    <title>Tela de Cadastro</title>
</head>
<body>
        <div class="cadastro-container">
            <img src="../static/img/Logo1.png" alt="Logo" class="logo">
            <form action="{{ url_for('cadastro_post') }}" method="post">
                <div class="input-group">
                    <input type="text" name="username" required placeholder="Nome de Usuário">
                </div>
                <div class="input-group">
                    <input type="email" name="email" required placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="password" name="password" required placeholder="Senha">
                </div>
               {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <button class="cadastro-button" type="submit">Cadastrar</button>
            </form>
        </div>

</body>
</html>