<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1efe6d39d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/values.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    <title>Despesas</title>
</head>
<body>
    <div class="sidebar">
        <img src="/static/img/Logo1.png" alt="Logo" class="logo">
        <a href="/dashboard" class="fontbutton"><i class="fa-solid fa-house"></i></a>
        <div class="bottom-icons">
            <form class="fontbutton" action="/logout" method="POST">
                <button class="formbutton" type="submit">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="main-panel">
        <h2 style="margin-bottom: 20px;">Despesas</h2>

        <div class="input-group despesas">
            <form action="/adicionar_despesa" method="POST">
                <input type="text" name="nome" placeholder="Nome da despesa">
                <input type="date" name="data" placeholder="Data">
                <input type="number" step="0.01" name="preco" placeholder="Preço">
                <button type="submit">Adicionar Despesa</button>
            </form>
        </div>
    </div>
</body>
</html>