<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <img src="../static/img/Logo1.png" alt="Logo" class="logo">
    </div>

    <div class="main-content">
        <img src="../static/img/Logo.jpg" alt="Imagem Principal">
        <div class="buttons">
            <a href="/login"><button>Logar</button></a>
            <a href="/cadastro"><button>Cadastre-se</button></a>
        </div>
    </div>

    <div class="footer">
        <div class="footer-images">
            <img src="../static/img/Recorte-Esquerdo.png" alt="Imagem Inferior Esquerda">
            <img src="../static/img/Recorte-Direito.png" alt="Imagem Inferior Direita">
        </div>
    </div>
</body>
</html>